@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Regular.ttf ) 
}
@font-face {
  font-family: 'Roboto-bold';
  src: url(fonts/Roboto-Bold.ttf ) 
}
@font-face {
  font-family: 'Roboto-LightItalic';
  src: url(fonts/Roboto-LightItalic.ttf ) 
}

body {
  display: block;
}

* {
  margin: 0px;
  font-family: "Roboto", "Roboto-Black", "Roboto-Bold", 'Courier New', Courier, monospace;
}

.page-header {
  background-color: #1F2937;
}

.nav-header {
  align-items: center;
  background-color: #1F2937;
  display:flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.header-link{
  margin-left: 20px;
}

.header-link {
  color: #e5e7eb;
  height: 18px;
  text-decoration: none;
}

.hero-secondary {
  margin-bottom :15px;
  margin-right: 15px;
  margin-top :15px;
}

.header-panel{
  background-color: #1F2937;
  display: flex;
  padding: 100px;
}

.header-panel-left{
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-items: flex-start;
  width: 50%;
  padding: 30px;
}

.header-panel-right{
  align-items: center;
  background-color: #6d747d;
  color: #e5e7eb;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 20px;
  width: 50%;
}

.hero-main-text{
  color:#f9faf8;
  font: 'Roboto-bold';
  font-size: 48px;
  font-weight: 900;
}

button {
  color:#f9faf8;
  background-color:#3882f6;
  border-color: #3882f6;
  border-radius: 5px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.some-randon-info {
  background-color: #f9faf8;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.some-randon-info-header {
  color: #192f37;
  font-family: 'Roboto-Bold';
  font-size: 36px;
  margin:30px;
}

.some-randon-info-pics {
  display: flex;
  justify-content: center;
}

img {
  border: #3882f6 3px solid;
  border-radius: 20px;
  flex-grow: 1;
  margin-bottom: 10px;
}

figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  margin:30px;
}

figcaption {
  color: #1f2937;
  font-size: 16px;
  inline-size: 150px;
  text-align: justify;
  text-align-last: center;
}

.quoted-citation {
  align-items: center;
  background-color: #e5e7eb;
  color: #1f2937;
  display:flex;
  flex-direction: column;
  padding: 70px 240px 70px 240px;  
}

.quoted-citation-text {
  font-family: 'Roboto-LightItalic';
  font-size: 36px;
  font-style: italic;
  text-align: justify; 
}

.quoted-citation-signature {
  width: 100%;
  font-family: 'Roboto-Bold';
  font-size: 24px;
  text-align: right;
}

.call-action{

}
